@charset "utf-8";

.main {
    margin: 5rem 1rem 1rem 1rem;
}

/* about */
.section-about {

    position: relative;
    overflow: hidden;
}

.about-box {
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding: 10rem 0 12rem 0;
    position: relative;

}

.about-photo {
    max-width: 300px;

}



.about-svg {
    max-width: none;
    max-width: 800px;
    position: absolute;
    display: block;
    /* 追加 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    mix-blend-mode: difference;
    z-index: -1;
}


.about-right {
    max-width: 432px;
}


.about-logo {
    width: 300px;
    height: auto;
    flex-shrink: 0;
    mix-blend-mode: difference;
}



.about-kanji {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 112.5% */
    letter-spacing: 2px;
    padding-block: 1rem;
}

.about-txt {
    max-width: 432px;
    padding: 0 0 10rem 0;
}


@media screen and (max-width: 820px) {
    .about-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        padding: 4rem 2rem;
    }

    .about-left {
        margin: 0 auto;
    }

    .about-right {
        margin: 0 auto;
        max-width: 400px;
    }

    .about-svg {

        max-width: 80%;
        position: absolute;
        display: block;
        bottom: 10rem;
        mix-blend-mode: difference;
        z-index: -1;
    }

    .about-kanji {
        font-size: 20px;
    }
}





/* learning */
.section-learning {
    position: relative;

}


.learning-box {
    position: relative;
    padding: 10rem 2rem 20rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;

    max-width: 1600px;
    /* 最大幅を指定 */
    width: 100%;
    /* 画面幅に追従しつつ */
    margin: 0 auto;
    /* 中央寄せ */
}




.learning-item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap: 3rem;

}

.learning-svg {
    position: absolute;
    top: -1rem;
    right: 0;

    max-height: 1050px;
    width: auto;
    z-index: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    /* 必要ならクリック無効化 */
}


.learning-img {
    position: absolute;
    max-height: 150px;
    width: auto;
    top: 3rem;
    mix-blend-mode: difference;
}

.learning-title {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 80% */
    letter-spacing: 3.5px;
}

.learning-subtitle {
    font-family: "Cormorant Garamond";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 80% */
    letter-spacing: 3px;
    z-index: 1;
}

.skills-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}



.skills-list {
    list-style: none;
    display: flex;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
}

@media screen and (max-width: 820px) {
    .learning-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6rem;
        padding: 5rem 2rem;
    }

    .learning-title {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 80% */
        letter-spacing: 3px;
    }

    .learning-subtitle {
        font-family: "Cormorant Garamond";
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 80% */
        letter-spacing: 2px;
    }

    .learning-img {
        position: absolute;
        max-height: 130px;

    }

    .learning-svg {
        position: absolute;
        top: -1rem;
        right: 0;

        max-height: 500px;
        width: auto;
        z-index: 0;
        pointer-events: none;
        mix-blend-mode: difference;
        /* 必要ならクリック無効化 */
    }

    .skills-list {
        list-style: none;
        display: flex;
        gap: 2rem;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 30px;
    }
}




/* art */
.section-art {

    position: relative;
    padding-block: 2rem;
}

.art-container {
    position: relative;
    display: flex;
    margin: 0 auto;

    justify-content: center;
}

.art-bg-mask {
    position: absolute;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.art-bg {
    display: block;
    width: 100%;
    height: auto;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1s ease-out;

}


.art-bg-mask.is-show .art-bg {
    clip-path: inset(0 0% 0 0%);
}


.art-svg {
    position: absolute;
    bottom: 0rem;
    left: 2%;
    z-index: 0;
    max-width: 820px;
    height: auto;
    mix-blend-mode: difference;

}

.art-box {
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding: 40rem 2rem 30rem 2rem;
}


.art-left {
    overflow: hidden;
    position: relative;
}


.art-img {
    max-width: 400px;
    /* 固定サイズ */
    height: auto;
    overflow: hidden;
    /* 中の画像がはみ出ないように */

}


/* PCデフォルト表示 */
.art-bg.sp {
    display: none;
}

/* SPだけ切り替え */
@media screen and (max-width: 820px) {
    .art-bg.pc {
        display: none;
    }

    .art-bg.sp {
        display: block;
        width: 100vh;
    }


}

.art-right {
    mix-blend-mode: difference;
    z-index: 10;
    color: #fbfbfb;
}



.art-title {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    padding-block: 4rem;
}

.art-txt {
    max-width: 380px;
    font-weight: 300;
    line-height: 36px;
    /* 200% */
    letter-spacing: 0.9px;
}

.art-scroll {
    overflow: hidden;
    width: 100%;
    height: 230px;
    position: relative;
    padding-bottom: 5rem;
}

.art-scroll-track {
    display: flex;
    width: max-content;
    gap: 2.5rem;
    animation: scrollLeft 60s linear infinite;
}

.art-scroll-track:hover {
    animation-play-state: paused;
    /* ← ホバー時に停止 */
}

.art-scroll-track img {
    height: 230px;
    flex-shrink: 0;
    object-fit: cover;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


@media screen and (max-width: 820px) {
    .art-box {
        display: flex;
        flex-direction: column;
        padding: 10rem 2rem;
        gap: 2rem;
    }

    .art-svg {
        position: absolute;
        bottom: 0rem;
        left: 2%;
        z-index: 0;
        max-width: 100%;
        height: auto;

    }

    .art-title {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        padding-block: 3rem;
    }

    .art-left {
        margin: 0 auto;
    }

    .art-right {
        margin: 0 auto;
    }

    .art-img {
        max-width: 300px;
    }

    .art-scroll-track {
        display: flex;
        width: max-content;
        gap: 1rem;
        animation: scrollLeft 60s linear infinite;
    }

    .art-scroll-track img {
        height: 180px;
        flex-shrink: 0;
        object-fit: cover;
    }

}



/* interests */
.section-interests {
    position: relative;
    padding: 4rem 0 15rem 0;

}

.interests-bg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}





.view-more {
    font-family: "Cormorant Garamond";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: 1px;
    color: #fbfbfb;
    z-index: 10;

}

.view-more span {
    display: inline-block;
    z-index: 10;
}

.works-arrow {
    position: relative;
    gap: 5rem;
    text-decoration: none;
    color: #fbfbfb;
    display: inline-flex;
    padding-bottom: 12px;
    z-index: 10;
}

.works-arrow span.line {
    position: absolute;
    bottom: 0;
    left: 0;
    /* content: ""; */
    width: 100%;
    height: 0.5px;
    background: #fbfbfb;
    transform-origin: left center;
    /* 左端を起点に */
    transform: scaleX(1);
    /* 初期は線はフルで表示 */
    transition: transform 0.3s ease;
}

.btn-interests {
    padding-top: 3rem;
    z-index: 5;
}




@keyframes line-flow {
    0% {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
    }

    45% {
        opacity: 1;
        transform: scaleX(0);
        transform-origin: right;
    }

    50% {
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left;
    }

    55% {
        opacity: 1;
        transform: scaleX(0);
        transform-origin: left;
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
    }
}

.arrow-icon {
    margin-left: 15px;
    transition: transform 0.3s ease;


}




/* 矢印を右に流して戻す動き */
@keyframes arrow-flow {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    45% {
        opacity: 0;
        transform: translateX(20px);
    }

    50% {
        opacity: 0;
        transform: translateX(20px);
    }

    55% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}





.interests-box {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 15rem;
    padding-block: 10rem;
}

.interests-left {
    max-width: 500px;
    width: 50%;
    height: auto;
    flex-shrink: 0;
    z-index: 1;

}

.interests-right {
    max-width: 500px;
}

.interests-item {
    display: flex;
    max-width: 1600px;
    gap: 8rem;
    padding-inline: 2rem;
    position: relative;

}

.interests-item2 {
    display: flex;
    max-width: 1600px;
    gap: 8rem;
    padding-inline: 2rem;
    position: relative;

}

.movie-svg {
    max-width: 700px;
    width: 100%;
    height: auto;
    position: absolute;
    /* 追加 */
    left: 33%;
    transform: translateX(-50%);
    bottom: -90px;
    mix-blend-mode: difference;
    flex-shrink: 0;
    z-index: 0;

}

.latte-svg {
    max-width: 820px;
    padding-top: 2rem;
    height: auto;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    bottom: -14rem;
    mix-blend-mode: difference;
    flex-shrink: 0;
}

.interests-title {
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 90% */
    letter-spacing: 3.2px;
    padding-bottom: 2rem;
}

.interests-txt {
    padding-top: 3rem;
}

.interests-img {
    position: relative;
    z-index: 1;
}

.latte1 {
    max-width: 75%;
    height: auto;

}

.latte2 {
    max-width: 45%;
    position: absolute;
    right: 0;
    bottom: -30%;
}

@media screen and (max-width: 820px) {

    .section-interests {
        padding-bottom: 5rem;
    }

    .interests-box {
        gap: 15rem;
        padding-block: 2rem;
    }

    .interests-left {
        max-width: 100%;
        width: 100%;

        height: auto;
        flex-shrink: 0;
        z-index: 1;

    }

    .interests-item {
        display: flex;
        flex-direction: column;

        gap: 4rem;
        padding-inline: 2rem;
        position: relative;

    }

    .movie-svg {
        max-width: 100%;
        height: auto;
        flex-shrink: 0;
        left: 50%;
    }

    .latte-svg {
        max-width: 100%;
        padding-top: 2rem;
        height: auto;
        flex-shrink: 0;
        left: 50%;
        bottom: -4rem;
    }

    .interests-title {
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        /* 90% */
        letter-spacing: 3px;
        padding-bottom: 3rem;
    }

    .interests-img {
        position: relative;
        z-index: 1;
        max-width: 600px;
    }

    .latte2 {
        max-width: 45%;
        position: absolute;
        right: 0;
        bottom: -20%;
    }

}